<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Blog Ninja | <%= title %></title>
<<<<<<< HEAD
  <link rel='stylesheet' href='/style.css'>
 <style>
   
 </style> 
=======
    <style>
         </style>
>>>>>>> 18741d98677dd353638f9b84b7ef3dbcaba3d7c2
  </head>