<nav>
    <div class="site-title">
      <a href="/"><h1>Project Collection</h1></a>
      <p>Yoseif Tesfamichael collections projects</p>
    </div>
    <ul>
      <li><a href="/">Projects</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/blogs/create">New Project</a></li>
    </ul>
  </nav>